.noleft{
padding-left:20px;
}
HEADER {
margin-bottom:1em;
}
HEADER #site-title {
padding:10px 20px 0;
}
HEADER ul#navbar {
margin:0;
padding:5px 20px 2px 10px;
}
HEADER ul#navbar li {
font-size:120%;
margin:0;
padding:0 10px 2px;
}
HEADER ul#navbar li.current-page {
background-color:#F7F7FF;
}
HEADER ul#navbar li.current-page a {
font-weight:bold;
}

/* rating view switcher checkbox in navbar */
HEADER ul#navbar li input[type="checkbox"] {
	margin-left: 4px;
	margin-right: 8px;
}

HEADER ul#subnavbar {
background-color:#212121;
color: #f2f5f4;
margin:0 0 1em;
padding:5px 20px 5px 15px;
}
HEADER ul#subnavbar li {
padding:0 5px;
}
HEADER #site-title {
padding:10px 20px 0;
}
img.header-logo {
	width: 10rem;
	max-height: 4rem;
}
body {
-x-system-font:none;
background-color:#161618;
color: #f2f5f4;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:80%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
h1 {
font-size:2em;
margin-bottom:0;
margin-top:0;
padding:2px;
}
h1 a {
color:black;
}
h3 {
font-size:1.2em;
margin-bottom:0;
margin-top:0.5em;
padding:1px;
}
h4 {
font-size:1.4em;
}
h5 {
font-size:1.2em;
}
table.zebra {border-collapse: collapse;border-spacing: 0;}
table.zebra > tbody > tr:hover {background: #2a2e31;}
table.zebra th {color: white; padding-right: 8px;}
table.zebra td {border: 1px dotted #EEE;margin: 0;padding-right: 8px;}
table.zebra th {margin: 0;text-align: left;}
thead {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
font-weight:bold;
}
td {
vertical-align:top;
}
#subtitle {
border-top:medium none;
font-size:0.75em;
margin:auto;
text-align:center;
width:256px;
}
#short-wiki-description {
padding:0 1.5em;
}
#short-wiki-description h2 {
padding-bottom:0.2em;
}
FOOTER {
clear:both;
color:#CCCCCC;
font-size:0.9em;
padding-left:10px;
padding-top:8px;
}
form {
margin:0;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
NAV {
float:left;
text-align:left;
width:150px;
padding:5px 20px 2px 10px;
}
NAV table {
width:150px;
}
NAV td {
vertical-align:middle;
}
NAV input {
padding:0;
width:100%;
}
NAV select {
padding:0;
width:100%;
}
NAV h3 {
text-align:left;
}
#comments p {
max-width:150px;
overflow:hidden;
text-align:left;
width:150px;
}
.comment blockquote {
	background: #2a2e31;
	display: block;
	border: none;
}
.comment blockquote em {
	font-style: normal;
	font-weight: normal;
	color: #888;
}
.comment blockquote small {
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
}
TABLE.tag_list {
	border-collapse: collapse;
}
TABLE.tag_list>THEAD {
	display: none;
}
TABLE.tag_list>TBODY>TR>TD {
	display: inline;
	padding: 0;
	line-height: 1em;
}
TABLE.tag_list>TBODY>TR>TD:after {
	content: " ";
}
.tag_count {
color:#AAAAAA;
}
.more {
content:"More â";
}
.comment {
margin-bottom:8px;
}
.comment .meta {
width: 150px;
color: gray;
}
.comment TD {
text-align: left;
}
.withleft {
margin-left:180px;
}
div#paginator {
clear:both;
display:block;
font-size:1em;
font-weight:bold;
padding:2em 0 1em;
text-align:center;
}
.paginator {
margin:16px;
text-align:center;
}
div#paginator b {
margin:3px;
padding:4px 8px;
color:white;
}
div#paginator a {
margin:3px;
padding:4px 8px;
}
div#paginator a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#2a2e31 none repeat scroll 0 0;
color:white;
}
span.thumb {
display:inline-block;
float:left;
height:154px;
text-align:center;
width:154px;
}
.thumb a.selected {
	outline: 3px solid #008fff;
	display: block;
}
#pagelist {
margin-top:32px;
}
#large_upload_form {
width:600px;
}
.setupblock {
border:1px solid #AAAAAA;
margin:16px;
padding:8px;
width:350px;
}
.helpable {
border-bottom:1px dashed gray;
}
#flash {
	background: rgba(247, 197, 22, 0.25);
	display: block;
	padding: 8px;
	margin: 8px;
	border: none;
	color: #f7c516;
	width: 50%;
	text-align: center;
}
.ok {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: rgba(91, 185, 28, 0.25);
	display: block;
	padding: 8px;
	margin: 8px;
	width: 50%;
	text-align: center;
	color: #1db992;
}
.bad {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: rgba(197, 43, 47, 0.25);
	display: block;
	padding: 8px;
	margin: 8px;
	width: 50%;
	text-align: center;
	color: #fc8833;
}
.comment .username:link {
	font-size:1.0em;
	font-weight:bold;
	color:#75c0c7;
}
.comment .username:hover {
	font-size:1.0em;
	font-weight:bold;
	color:#1db992;
}
HEADER {
text-align:left;
}
HEADER h1 {
text-align:left;
}
* {
font-family:verdana,sans-serif;
margin:0;
padding:0;
}
a.current-page:link {
	color:#f5f7f6;
}
a.current-page:visited {
	color:#f5f7f6;
}
a.current-page:hover {
	color:#ffffff;
}
a.current-page:active {
	color:#ffffff;
}
a.tab:link {
	color:#d23c22;
}
a.tab:visited {
	color:#d23c22;
}
a.tab:hover {
	color:#ee4d2e;
}
a.tab:active {
	color:#ee4d2e;
}
a.tag_name:link {
	color:#75c0c7;
}
a.tag_name:visited {
	color:#75c0c7;
}
a.tag_name:hover {
	color:#1db992;
}
a.tag_name:active {
	color:#1db992;
}
.comment a:link {
	color:#75c0c7;
}
.comment a:hover {
	color:#1db992;
}
a:link {
color:#d23c22;
text-decoration:none;
}
a:visited {
color:#d23c22;
text-decoration:none;
}
a:hover {
color:#ee4d2e;
text-decoration:none;
}
a:active {
color:#ee4d2e;
text-decoration:none;
}
ul.flat-list {
display:block;
margin:0;
padding:0;
}
ul.flat-list * {
display:inline;
text-align:left;
}
ul.flat-list li {
font-weight:bold;
list-style-type:none;
margin:0 1.3em 0 0;
text-align:left;
}
ul.flat-list li a {
font-weight:normal;
}
#tips {
margin-left:16px;
}
#blotter1 {
margin-left:16px;
margin-right:16px;
font-size: 90%;
position: relative;
}
#blotter2 {
margin-left:16px;
margin-right:16px;
font-size: 90%;
}
input, textarea {
	background-color:#212121;
	border-color: #2a2e31;
	color:#f2f5f4;
}

.tagit {
	background: #212121 !important;
	border: 1px #2a2e31 solid !important;
	color: #f2f5f4 !important;
}

ul.tagit input[type="text"] {
	background: inherit;
	color: inherit;
}

div#dlimg {
	background-image: url('/themes/pr0booru/save-red.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 32px;
	font-size: 1.25em;
 }
 
div#dlimg:hover {
	background-image: url('/themes/pr0booru/save-white.png');
	color: white;
}


